{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content %}

<h3 align="center">About Final Project</h3>
</br>
<hr>
 

 
<div class="form-group" align="center">
<table border="1" >
<tr>
<td>Course</td><td>FA22: APPLIED DATA SCIENCE: 11690</td>
</tr>
<tr>
    <td>Project Title</td><td>Predictive Model to Optimize Consumption of the HVAC</td>
</tr>
<tr>
    <td>Assignment </td><td>Final Project - <strong> Technical Report Part-4</strong></td>
</tr>
<tr> 
    <td>Team Members</td> <td>Individual Member- Sridhar Reddy Sama</td>
</tr>
<tr>
    <td> Submission Date</td> <td>12/11/2022</td>
</tr>
<tr>
    <td>Professor</td> <td>Olga Scivner</td>
</tr>
<tr>
    <td>Teaching Asst.</td> <td>Ameya</td>
</tr>
</table>
</div>

{% endblock %}