{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content %}
<h5 align="center">Visualization development in progress</h5>

<table>

    <tr>
        <td colspan="2" >======================================================================</td>
     </tr>
    <tr>
        <td colspan="2" align="center">Heat Map</td>
       
    </tr>
    <tr>
        <td colspan="2" >======================================================================</td>
     </tr>

    <tr>
         
        <td colspan="2"><img src="../static/images/heatmap.jpg" alt="Final Project" ></td>
        
    </tr>
   
    
<tr>
</br>
</tr>

     <tr>
        <td colspan="2" >======================================================================</td>
     </tr>
    <tr>
        <td colspan="2" align="center">Electricity Consumption</td>
        
    </tr>
    <tr>
        <td colspan="2" >======================================================================</td>
     </tr>
    <tr>
        <td ><img src="../static/images/graph-1.jpg" alt="Final Project" ></td>
        
        
    </tr>
    
    <tr>
        <td><td ><img src="../static/images/graph-2.jpg" alt="Final Project" ></td></td>
        <td></td>
    </tr>
    
    
    </table>
{% endblock %}